<!DOCTYPE html>
<html>
   <head>
      <style>
         body {
            background-image: url("../static/images/91513.jpg");
         }
      </style>
   </head>

   <body>
      <h1>Here's how many of each letter there is in one game:</h1>
            <div>
               
                <p>A has {{counts.a}}</p>
                <p>B has {{counts.b}}</p>
                <p>C has {{counts.c}}</p>
                <p>D has {{counts.d}}</p>
                <p>E has {{counts.e}}</p>
                <p>F has {{counts.f}}</p>
                <p>G has {{counts.g}}</p>
                <p>H has {{counts.h}}</p>
                <p>I has {{counts.i}}</p>
                <p>J has {{counts.j}}</p>
                <p>K has {{counts.k}}</p>
                <p>L has {{counts.l}}</p>
                <p>M has {{counts.m}}</p>
                <p>N has {{counts.n}}</p>
                <p>O has {{counts.o}}</p>
                <p>P has {{counts.p}}</p>
                <p>Q has {{counts.q}}</p>
                <p>R has {{counts.r}}</p>
                <p>S has {{counts.s}}</p>
                <p>U has {{counts.u}}</p>
                <p>V has {{counts.v}}</p>
                <p>W has {{counts.w}}</p>
                <p>X has {{counts.x}}</p>
                <p>Y has {{counts.y}}</p>
                <p>Z has {{counts.z}}</p>
                
            </div>






<!-- FOOTER -->
<footer>
    <p>background image:</p>
    <a href="http://www.freepik.com">Designed by rawpixel.com / Freepik</a>
  </footer>
   </body>
</html>