<!DOCTYPE html>
<html>
   <head>
      <style>
         body {
            background-image: url("../static/images/91513.jpg");
         }
      </style>
   </head>

   <body>
      <h1>Here's how much each letter in Scrabble is worth</h1>
            <div>
               
               <p>A is worth {{letters.a}}</p>
                <p>B is worth {{letters.b}}</p>
                <p>C is worth {{letters.c}}</p>
                <p>D is worth {{letters.d}}</p>
                <p>E is worth {{letters.e}}</p>
                <p>F is worth {{letters.f}}</p>
                <p>G is worth {{letters.g}}</p>
                <p>H is worth {{letters.h}}</p>
                <p>I is worth {{letters.i}}</p>
                <p>J is worth {{letters.j}}</p>
                <p>K is worth {{letters.k}}</p>
                <p>L is worth {{letters.l}}</p>
                <p>M is worth {{letters.m}}</p>
                <p>N is worth {{letters.n}}</p>
                <p>O is worth {{letters.o}}</p>
                <p>P is worth {{letters.p}}</p>
                <p>Q is worth {{letters.q}}</p>
                <p>R is worth {{letters.r}}</p>
                <p>S is worth {{letters.s}}</p>
                <p>T is worth {{letters.t}}</p>
                <p>U is worth {{letters.u}}</p>
                <p>V is worth {{letters.v}}</p>
                <p>W is worth {{letters.w}}</p>
                <p>X is worth {{letters.x}}</p>
                <p>Y is worth {{letters.y}}</p>
                <p>Z is worth {{letters.z}}</p>
                
            </div>






<!-- FOOTER -->
<footer>
    <p>background image:</p>
    <a href="http://www.freepik.com">Designed by rawpixel.com / Freepik</a>
  </footer>
   </body>
</html>